.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
}